/*div {
	background-color: yellow;
	border: 1px solid black;
	box-sizing: border-box;
}*/
/*
.btn-primary {
	background-color: #ce00ff;
	border: none;
	font-size: 2rem;
	border-radius: 0;
}

.btn-primary:hover {
	background-color: #ff55ff;
}*/

.item img {
	width: 100%;
}